*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Manrope";
}
body{
    background-color:  #f6f8fa;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header section */
.head{
    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)),
    url("../Assets/image/mainBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav img{
    height: 40px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
}
.nav ul li a{
    color: #ffffff;
    font-size: 18px;
}
.hr{
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    width: 85%; 
    height: 1.5px;
    background-color: #ffffff; 
    border: none;
    outline: none;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 150px;
    margin-top: 90px;
    color: #ffffff;
}
.title h1{
    font-size: 72px;
}
.title p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.title button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color:  #6663e9;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}
/* logo section */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo div{
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #fff;
    border: none;
    padding: 75px 100px;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.options h1{
    font-size: 61px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 100px;
}
.three{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}
.imgcard{
    height: 400px;
    width: 365px;
    border: none;
    border-radius: 20px;
}
.align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 20px;
    width: 325px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0,0.2);
}
.price div h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.price div p{
    color: #6663e8;
    font-size: 20px;
    font-weight: 800;
}
.price button{
    background-color:#6663e9;
    border: none;
    padding: 16px 35px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 800; 
}
.price1{
    position: relative;
    bottom: 65px;
}
img[alt="Home2"]{
    position: relative;
    top: 25px;
}
.price2{
    position: relative;
    bottom: 40px;
}
img[alt="Home3"]{
    position: relative;
    top: 50px;
}
.price3{
    position: relative;
    bottom: 15px;
}
.price4{
    position: relative;
    bottom: 65px;
}
img[alt="Home5"]{
    position: relative;
    bottom: 25px;
}
.price5{
    position: relative;
    bottom: 90px;
}
img[alt="Home6"]{
    position: relative;
    bottom: 50px;
}
.price6{
    position: relative;
    bottom: 115px;
}
img[alt="Home7"]{
    position: relative;
    bottom: 115px;
}
.price7{
    position: relative;
    bottom: 180px;
}
img[alt="Home8"]{
    position: relative;
    bottom: 90px;
}
.price8{
    position: relative;
    bottom: 155px;
}
img[alt="Home9"]{
    position: relative;
    bottom: 65px;
}
.price9{
    position: relative;
    bottom: 130px;
}
/* side first section */
.sideone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 40px;
}
.sideoneimg{
    display: flex;
}
img[alt="featureImageBg1"]{
    width: 726px;
    height: 456px;
    position: relative;
    right: 80px;
}
img[alt="featuresImage1"]{
    height: 405px;
    width: 405px;
    border: none;
    border-radius: 51px;
    position: relative;
    right: 616px;
    bottom: 55px;
}
.sideonepra{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 400px;
}
.sideonepra h1{
    font-size: 60px;
    width: 600px;
    position: relative;
    bottom: 68px;
    right: 10px;
    letter-spacing: 1px;
    font-weight: 800;
}
.sideonepra p{
    font-size: 18px;
    width: 600px;
    color:#585c65;
    position: relative;
    right:10px;
    bottom: 40px;
    font-weight: 500;
}
.sideonepra button{
    position: relative;
    right:10px;
    width: 13vw;
    background-color:#6663e9;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
}
/* side second section */
.sidetwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidetwopra{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 152px;
}
.sidetwopra h1{
    font-size: 60px;
    width: 600px;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.sidetwopra p{
    color:#585c65;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}
.sidetwopra button{
    background-color:#6663e9;
    width: 13vw;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 40px;
}
.sidetwoimg{
    display: flex;
    position: relative;
    top: 70px;
    right: 341px;
}
img[alt="featuresImage2"]{
    height: 405px;
    width: 405px;
    border: none;
    border-radius: 51px;
    position: relative;
    left: 591px;
    bottom: 60px;
}
img[alt="featureImageBg2"]{
    width: 726px;
    height: 456px;
}
/* subscribe section */
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.subscribebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90%;
    background-color: #6663e9;
    padding: 70px 40px;
    border-radius: 70px;
}
.subscribebox h1{
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
}
.subscribebox p{
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}
.messege{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    margin-top:30px ;
}
.messege div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #5654d1;
    width: 465px;
    height: 60px;
    border-radius: 30px;
    gap: 20px;
}
.messege button{
    background-color: #ffffff;
    border: none;
    color: #6663e9;
    font-size: 18px;
    font-weight:800;
    height: 60px;
    padding: 0px 40px;
    border-radius: 30px;
}
.messege div img{
    margin-left: 20px;
}
.messege div input{
    background-color: transparent;
    border: none;
}
/* footer section */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 99px;
    margin-right: 99px;
    margin-bottom: 80px;
}
img[alt="logo2"]{
    scale: 0.85;
    position: relative;
    right: 10px;
}
.socialmedia a img{
    scale: 0.7;
    margin-top: 5px;
    position: relative;
    right: 6px;
}
.footerLeft p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}
/* right side of footer */
.footerright{
    display: flex;
    gap: 120px;
}
.footerright ul li:first-child a{
    font-size: 20px;
    font-weight: 700;
}
.footerright ul li a{
    color: black;
}
.footerright ul li{
    margin-bottom: 25px;
}


